<header class="header" >
  <div class="header-inner">
    <div class="container">
      <div class="inner">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-12">
            <div class="logo">
              <img src="/assets/logo.png" alt="#">
            </div>
            <div class="mobile-nav"></div>
          </div>
          <div class="col-lg-7 col-md-9 col-12">
            <div class="main-menu">
              <nav class="navigation">
                <ul class="nav menu">
                  <li *ngIf="is_Authenticated()" routerLink="/profile" routerLinkActive="active"><a>Profile</a></li>
                  <li *ngIf="is_SuperAdmin()" routerLink="/admin-registration" routerLinkActive="active"><a>Register Admin</a></li>
                  <li *ngIf="is_User()" routerLink="/property-requests-user" routerLinkActive="active"><a>Users Property Requests</a></li>
                  <li *ngIf="is_Admin()" routerLink="/property-requests" routerLinkActive="active"><a>Property Requests</a></li>
                  <li *ngIf="is_User()" routerLink="/property-registration" routerLinkActive="active"><a>Property Registration</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-lg-2 col-12">
            <div class="get-quote">
              <a class="btn" (click)="empty_storage()">Sign Out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
