<section class="contact-us section">
  <div class="container custom-width" id="propertyContainer">
    <div class="inner">
      <div class="contact-us-form">
        <h2>Account Details</h2>
        <form class="form" [formGroup]="registerForm">
          <div class="col">
            <div class="form-group row-md-6">
              <label for="email">Email</label>
              <input type="email" id="email" formControlName="email" [disabled]="true" />
            </div>
            <div class="form-group row-md-6">
              <label for="role">Role</label>
              <input type="text" id="role" formControlName="role" [disabled]="true" />
            </div>
          </div>

          <div class="col">
            <div class="form-group row-md-6">
              <label for="name">Name</label>
              <input type="text" id="name" formControlName="name" [disabled]="true" />
            </div>
            <div class="form-group row-md-6">
              <label for="surname">Surname</label>
              <input type="text" id="surname" formControlName="surname" [disabled]="true" />
            </div>
          </div>

          <div class="col">
            <div class="form-group row-md-4">
              <label for="country">Country</label>
              <input type="text" id="country" formControlName="country" [disabled]="true" />
            </div>
            <div class="form-group row-md-4">
              <label for="city">City</label>
              <input type="text" id="city" formControlName="city" [disabled]="true" />
            </div>
            <div class="form-group row-md-4">
              <label for="street">Street</label>
              <input type="text" id="street" formControlName="street" [disabled]="true" />
            </div>
          </div>

          <div class="col">
            <div class="form-group row-md-4 w-50">
              <label for="phone">Phone</label>
              <input type="text" id="phone" formControlName="phone" [disabled]="true" />
            </div>
          </div>

<!--          <div class="row">-->
<!--            <div class="col-12">-->
<!--              <button type="submit" class="btn" [disabled]="!registerForm.valid">Submit</button>-->
<!--            </div>-->
<!--          </div>-->
        </form>
      </div>
    </div>
  </div>
</section>
