<section class="contact-us section">
  <div class="container" id="propertyContainer">
    <div class="inner">
      <div class="row">
        <div class="col-lg-6">
          <div class="contact-us-form">
            <h2>Property registration</h2>
            <p>If you would like to register a new property, please fill out the form below.</p>
            <!-- Form -->
            <form class="form" [formGroup]="propertyRegistrationForm">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Address</label>
                    <input type="text" formControlName="address" placeholder="" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Number of floors</label>
                    <input type="number" formControlName="floorNumber" placeholder="" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>City</label>
                    <select class="nice-select form-control" formControlName="city">
                      <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label>Location</label>
                    <input type="text" formControlName="location" placeholder="" readonly>
                  </div>
                </div>
                <div class="col-lg-6">
                    <label class="form-label">Upload images</label>
                    <input (change)="imageChanged($event)" class="form-control form-group" formControlName="images" type="file" multiple accept="image/*">
                </div>

                <div class="col-lg-6">
                  <label class="form-label">Upload legal rights</label>
                  <input (change)="pdfChanged($event)" class="form-control form-group" type="file" formControlName="pdf" multiple accept="application/pdf">
                </div>
                <div class="col-12">
                  <div class="form-group login-btn">
                    <button class="btn" type="submit" (click)="onSubmitProperty()">Create property</button>
                  </div>
                </div>

              </div>
            </form>
            <!--/ End Form -->
          </div>
        </div>

        <div class="col-lg-6">
          <div class="contact-us-left">
            <!--Start Google-map -->
            <div id="myMap">
              <app-map (coordinatesSelected)="updateCoordinates($event)"></app-map>
            </div>
            <!--/End Google-map -->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="contact-us-form">
          <h2>Households</h2>
          <p>If you would like to register a new property, please fill out the form below.</p>
          <!-- Form -->
          <div class="row">
            <form class="form" [formGroup]="householdForm">
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <mat-label>Floor number</mat-label>
                    <input type="number" formControlName="floorNumber">
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <mat-label>Apartment number</mat-label>
                    <input type="number" formControlName="apartmentNumber">
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <mat-label>Squared meters</mat-label>
                    <input type="number" formControlName="squareMeters">
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group login-btn">
                    <mat-label style="color: white">f</mat-label>
                    <button class="btn" type="submit" (click)="addHouseholdCard()">Add household</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row" *ngFor="let household of households; let i = index">
        <app-household-card
          [floorNumber]="household.floorNumber"
          [apartmentNumber]="household.apartmentNumber"
          [squaredMeters]="household.squareMeters"
          (remove)="removeHouseholdCard(i)">
        </app-household-card>
      </div>

    </div>
  </div>
</section>
